<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Banking System</title>
    <style>
      .heading{
          margin-top:50px;
          padding: 2%;
          background-color: #f4511e;
          color: white;
          text-align: center;
      }
      .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">The Sparks Foundation</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/customers">CUSTOMERS</a></li>
          <li><a href="/transactions">TRANSACTIONS</a></li>
          <li><a href="/payment">PAYMENT</a></li>
          <li><a href="/contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="heading">
    <h1>Customers' Information</h1>
  </div>

    <div class="container">      
    <table class="table table-hover" style=" margin-top: 5%;">
      <thead >
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Balance</th>
          <th>Profile</th>
        </tr>
      </thead>
      <tr>
        <% customersList.forEach(customers =>{%>
        <tr class="danger">
                <td><%= customers.name %> </td>
                <td><%= customers.email %> </td>
                <td><%= customers.Amount %> </td>
                <td><a class="view-link" href="/customers/<%= customers.id %>">View</a></td>
        </tr>
      <%})%>
      </tr>
    </table>
  </div>
</body>
</html>